@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: 'border-box';
  font-family: 'Quicksand';
  list-style: 'none';
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #4E4746;
}

.spacing {
  width: 100%;
  height: 20px;
}

.wrapper {
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 10px;
  margin: 10px 0;
}

.domain {
  background-color: #E7E1E0;
  padding: 5px;
  margin: 0 5px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.domain.active {
  background-color: #4E4746;
  color: #fff;
}

.stack-vertical {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
}

.stack-horizontal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
}